@model DataLayer.Massage

@{
    ViewBag.Title = "ارتباط با ما";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<link href="~/Content/Styles/contactUs.min.css" rel="stylesheet" />

<div class="aboutUs" dir="rtl">
    <h4>درباره ما</h4>

    <img src="~/img/Admin/logo/ArvinTavLogo.svg" />
    <p>
        شرکت ایده پرداز آروین تاو با پشتوانه ی تخصص اعضا و تیم های اجرایی متخصص خود در حوزه فناوری اطلاعات، تجارت الکترونیکی، طراحی و توسعه وب سایت های اختصاصی و عملیاتی، برنامه نویسی و توسعه انواع نرم افزار های تحت وب و تحت ویندوز و تحت موبایل( اندروید و IOS) با بروز ترین تکنولوژی های روز دنیا و با هدف الکترونیکی کردن کسب و کارها و یکپارچه سازی تمامی این فعالیت ها با تشکیل تیمهای قدرتمند و متخصص سعی بر این دارد زیر ساختهایی را بوجود آورد که مردم و کسب و کارها از مزیت های تکنولوژی و تجارت الکترونیکی به ساده ترین شکل ممکن بهره مند شوند و در هزینه های خود بطور چشمگیری صرفه جویی کنند شرکت ایده پرداز آروین تاو برای هر یک از خواسته های شما تیم های قدرتمندی متشکل از برنامه نویسان حرفه ای تدارک دیده است تا به تمامی اهداف شما جامه عمل بپوشاند و شما را در رسیدن به اهدافتان یاری نماید و همچنین با از بین بردن مرزهای جغرافیای دایره مشتریانتان را گسترش دهد درحالی که بطور قابل توجهی تا 80% از هزینه های اضافی شما را کاهش میدهد
    </p>
</div>

<div class="contactSection my-column" dir="rtl">
    <div class="GreenBackground">
        <h4 class="center">تماس با ما</h4>
        <div class="contactForm mat uk-margin-top center" dir="rtl">
            @if (Request.QueryString["Massage"] != null)
            {
                <small class="uk-text-success">پیام شما ارسال شد.</small>
            }
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <textarea class="uk-width-1-1" id="textareaInContact" name="Text"></textarea>
                        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="recap">
                    <div class="g-recaptcha " data-sitekey="6LeiCdkZAAAAAHgPzJSvSmJw6KOh6o0nGKnnhwpM"></div>
                    <small class="uk-text-danger">@ViewBag.Message</small>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="ثبت" class="ServiceButton" />
                    </div>
                </div>
            </div>
            }
        </div>

    </div>
    <div class="contactAddress uk-padding-small uk-margin-top my-clipped">
        <div class="socialContact my-row" dir="rtl">
            <div class="my-column uk-padding">
                <div class="my-row"><i class="fab fa-instagram fa-2x uk-text-danger"></i><a>arvin.tav.co</a></div>
                <div class="my-row"><i class="fab fa-telegram-plane fa-2x uk-text-primary"></i><a>arvin_tav_co</a></div>
                <div class="my-row"><i class="fab fa-whatsapp fa-2x uk-text-success"></i><a dir="ltr">0914 501 66077</a></div>
                <div class="my-row"><i class="far fa-envelope fa-2x uk-text-danger"></i><a dir="ltr">info@arvintavco.com</a></div>
            </div>

            <img class="uk-margin-auto-right" src="~/img/Home/head slider/social media.svg" width="260" alt="social" />
        </div>
        <hr />
        <div class="my-column" dir="rtl">
            <div class="my-row uk-padding-small">
                <img class="contactUsIcon uk-margin-small-left" src="~/img/Home/svg/Location.svg" width="20" />
                <label>
                    چایکنار-بعد از پل منصور به سمت آبرسان-ساختمان عمارت صبا-طبقه همکف غربی
                </label>
            </div>

            <div class="my-row uk-padding-small">
                <img class="contactUsIcon uk-margin-small-left" src="~/img/Home/svg/Phone.svg" width="20" />
                <label dir="ltr">
                    041 - 33371059 - 33373556
                </label>
            </div>
        </div>
    </div>

    <div class="map column">
        <iframe class="map"
                frameborder="0"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3140.737504409133!2d46.30713261520968!3d38.07649387970567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x401a052af04f17a7%3A0x1d32d4238cb5b126!2zRWFzdCBBemVyYmFpamFuIFByb3ZpbmNlLCBUYWJyaXosIFBvbCAtZS0gU2FuZ2ksIEFsbGFtZWggVGFiYXRhYmFpLCDYqNix2Kwg2LnZhdin2LHYqiDYtdio2Kdf2LTYsdqp2Kog2LPYp9iu2KrYp9ix2LPYp9iy2Ycg2KrYqNix24zYstiMIElyYW4!5e0!3m2!1sen!2snl!4v1600765196863!5m2!1sen!2snl"></iframe>
    </div>
</div>