@model DataLayer.OrderDetailViewModel
<div class="modal-header">
    <h6 class="modal-title mr-3" id="modalCenterTitle">
        جزئیات سفارش
    </h6>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div id="card-table" class="card-body flex-div">
            <div class="form-row ">
                <div class="form-group col-md-4">
                    <label>کد سفارش:</label>
                    <span>@Model.Order.ID</span>
                </div>
                <div class="form-group col-md-4">
                    <label>نام مشتری:</label>
                    <span>@Model.Order.User.FullName</span>
                </div>
                <div class="form-group col-md-4">
                    <label>شماره مشتری:</label>
                    <span>@Model.Order.User.PhoneNumber</span>
                </div>
                <div class="form-group col-md-4">
                    <label>زمان:</label>
                    <span>@Model.Order.DateTime.ToShamsi()</span>
                </div>
                <div class="form-group col-md-4">
                    <label>وضعیت:</label>
                    @if (Model.Order.Status == 1)
                    {
                        <span class="text-primary">منتظر پرداخت</span>
                    }
                    else if (Model.Order.Status == 2)
                    {
                        <span class="text-info">پرداخت شده</span>
                    }
                    else if (Model.Order.Status == 3)
                    {
                        <span class="text-success">تکمیل شده</span>
                    }
                    else if (Model.Order.Status == 4)
                    {
                        <span class="text-muted">لغو شده</span>
                    }
                </div>
            </div>
            <div class="form-control" rows="4">@Model.Order.Description</div>
            &nbsp;
            <div class="table-responsive flex">
                <table class="table fixed">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">نوع سفارش</th>
                            <th scope="col">قیمت</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderDetails)
                        {
                            <tr>
                                <td>
                                    @if (item.SideID == 1)
                                    {
                                        if (item.HostingOrder.ExpirationHostSide == 1)
                                        {
                                            @:هاست @item.HostingOrder.HostingService.Title بمدت سه ماه با دامنه @item.HostingOrder.DomainName.@item.HostingOrder.DomainService.Suffix
                                        }
                                        else if (item.HostingOrder.ExpirationHostSide == 2)
                                        {
                                            @:هاست @item.HostingOrder.HostingService.Title بمدت شش ماه با دامنه @item.HostingOrder.DomainName.@item.HostingOrder.DomainService.Suffix
                                        }
                                        else if (item.HostingOrder.ExpirationHostSide == 3)
                                        {
                                            @:هاست @item.HostingOrder.HostingService.Title بمدت یکسال با دامنه @item.HostingOrder.DomainName.@item.HostingOrder.DomainService.Suffix
                                        }
                                    }
                                    else if (item.SideID == 2)
                                    {
                                        @:بسته نرم افزاری @item.PackageService.Title در دسته @item.PackageService.ServiceCategory
                                    }
                                    else if (item.SideID==3)
                                    {
                                        @:دامنه @item.DomainServiceOrder.DomainName.@item.DomainServiceOrder.DomainService.Suffix
                                    }
                                </td>
                                <td>
                                    @item.Price
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div class="form-row ml-xl-4 ml-4 ">

            <label class="uk-text-bold">قیمت کل:</label>
            <span class="text-success uk-text-bold">@Model.Order.Price</span>

        </div>
    </div>
</form>


