@model DataLayer.OrderExplorerViewModel
<div class="modal-header">
    <h6 class="modal-title mr-3" id="modalCenterTitle">
        پیگیری سفارشات
    </h6>
</div>
<form>
    <div class="modal-body">
        <div id="card-table" class="card-body flex-div">
            <div class="form-row ">
                <div class="form-group col-md-4">
                    <label>کل سفارشات:</label>
                    <span>@Model.AllOrderCount</span>
                </div>
                <div class="form-group col-md-4">
                    <label>سفارشات منتظر پرداخت:</label>
                    <span>@Model.AllWaitingPayOrderCount</span>
                </div>
                <div class="form-group col-md-4">
                    <label>سفارشات پرداخت شده:</label>
                    <span>@Model.AllPaidOrderCount</span>
                </div>
                <div class="form-group col-md-4">
                    <label>سفارشات تکمیل نشده:</label>
                    <span>@Model.AllNotEndedOrderCount</span>
                </div>
                <div class="form-group col-md-4">
                    <label>سفارشات تکمیل شده:</label>
                    <span>@Model.AllEndedOrderCount</span>
                </div>
            </div>
        </div>
    </div>
</form>
