@model DataLayer.CreateTicketInUser

@{
    ViewBag.Title = "افزودن تیکت";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}


<div class="row flex-div">
    <div class="col-md-12 flex-div pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">
                <h5 class="mb-0 mr-2 text-primary">افزودن تیکت جدید</h5>
            </div>
            <div id="card-table" class="card-body flex-div">
                <div class="table-responsive flex">
                    @using (Html.BeginForm("Create", "Ticket", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-row col-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TicketCategory, htmlAttributes: new { @class = "control-label " })
                                <div class="form-group ml-4">
                                    <select name="TicketCategory" class="form-control form-control-sm ">
                                        <option value="0">انتخاب کنید</option>
                                        @foreach (var item in ViewBag.TicketCategory)
                                        {
                                            <option value="@item.ID">@item.Title</option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.TicketCategory, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.order, htmlAttributes: new { @class = "control-label " })
                                <div class="form-group ml-4">
                                    <select name="order" class="form-control form-control-sm ">
                                        <option value="0">انتخاب کنید</option>
                                        @foreach (var item in ViewBag.Order)
                                        {
                                            <option value="@item.ID">@item.Title</option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.order, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <div class="form-row">

                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input form-control form-control-sm" name="File" accept="image/jpg,image/png,application/pdf,image/jpeg">
                                            <label class="custom-file-label" for="Image" data-browse="انتخاب"><i class="fas fa-paperclip"></i></label>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control textarea-max-height-90", @placeholder = "متن را وارد کنید" } })
                                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="card-footer bg-white justify-content-end">
                                <img src="~/img/gif/load.gif" class="loding justify-content-center d-none" />
                                <input type="submit" value="افزودن" class="btn btn-success btn-sm float-left " />
                                <div class="btn btn-primary btn-sm float-left ml-3">
                                    <a class="text-white" href="/User/Ticket">بازگشت</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>