@model IEnumerable<DataLayer.Ticket>
<div id="card-table" class="card-body flex-div">
    <div class="table-responsive flex">
        <table class="table fixed">
            <thead class="thead-light">
                <tr>
                    <th scope="col">کد تیکت</th>
                    <th scope="col">موضوع</th>
                    <th scope="col">نام سرویس</th>
                    <th scope="col">بخش مربوطه</th>
                    <th scope="col">تاریخ و زمان ثبت تیکت</th>
                    <th scope="col">محتوای تیکت</th>
                    <th scope="col">وضعیت</th>
                    <th scope="col">زمان تکمیل تیکت</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.ID
                        </td>
                        <td>
                            @item.Subject
                        </td>
                        <td>
                            سرویس @item.PackageService.Title
                        </td>
                        <td>
                            @item.TicketCategory.Title
                        </td>
                        <td>
                            @item.dateTime.ToShamsi()
                        </td>
                        <td>
                            <span data-placement="top" data-toggle="tooltip" title="" data-original-title="داخل تیکت">
                                <a href="Ticket/InnerTicket?ID=@item.ID"><i class="btn fas fa-info-circle mr-2 text-primary"></i></a>
                            </span>
                        </td>
                        @if (item.Status == 1)
                        {
                            <td class="text-warning">
                                ارسال شده
                            </td>
                        }
                        else if (item.Status == 2)
                        {
                            <td class="text-info">
                                در حال بررسی
                            </td>
                        }
                        else if (item.Status == 3)
                        {
                            <td class="text-success">
                                تکمیل شده
                            </td>

                        }
                        @if (item.Status == 3)
                        {
                            <td>
                                @item.EndTicketTime.ToShamsi()
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


