@model DataLayer.LoginViewModel

@{

    ViewBag.Title = "ورود به پورتال";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}



<div class="GridBackground loginSection center DesktopAccount">
    <content class="grid " dir="rtl">
        <div class="my-column my-clipped center mat loginSection ">
            <content>
                <img class="login" src="~/img/login/Svg/Group 98.svg" />
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="uk-alert-success uk-alert" uk-alert="">
                        <a class="uk-alert-close uk-icon uk-close" uk-close=""><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" data-svg="close-icon"><line fill="none" stroke="#000" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="#000" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line></svg></a>
                        <small>شما وارد شده اید</small>
                        @if (Request.QueryString["ReturnUrl"] != null)
                        {
                            <div>به دلایل زیر  شما نمیتواند وارد بخش شوید</div>
                            <ul>
                                <li>پروفایل را تکمیل کنید.</li>
                                <li>مجوز ورود به این صفحه را ندارید</li>
                            </ul>
                        }
                    </div>
                }
                else
                {
                    using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <br />
                        @Html.ValidationSummary(true, "", new { @class = "uk-text-danger uk-text-small " })

                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "" })
                        <div>
                            @Html.EditorFor(model => model.PhoneNumber)

                            <br />
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "uk-text-danger uk-text-small" })
                        </div>

                        @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "" })
                        <div>
                            @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "" } })
                            <br />
                            @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "uk-text-danger uk-text-small" })
                        </div>


                        <div class="my-row checkbox ">


                            @Html.EditorFor(model => model.RememberMe)
                            @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "check" })

                        </div>


                        <div class="g-recaptcha " data-sitekey="6LetqO4ZAAAAAEy8kRSeZHVC9scChzPmQhIb4Kp_"></div>
                        <small class="uk-text-danger">@ViewBag.Message</small>


                        <div class="my-row center uk-padding">

                            <button class="uk-margin-small-left" type="submit" value="ورود">ورود</button>

                            <a href="/Account/Register" class="Btn uk-margin-small-right">ثبت نام</a>


                        </div>

                        <a href="/Account/ForgotPassword"><b class="uk-text-danger uk-margin-small-top"><i class="fas fa-unlock-alt"></i> بازیابی رمز عبور</b></a>
                    }
                }
            </content>
        </div>

    </content>

    <script>
        const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
        console.log(vw);
        if (vw < 480) {
            var timerId = setInterval(function () {
                const end = document.querySelector('#end');
                if (end.nextElementSibling != null) {
                    end.nextElementSibling.style.position = "unset";
                    console.log('set to unset');
                    clearInterval(timerId);
                }
            }, 100);
        }

    </script>

</div>

<link href="~/Content/Styles/LoginRegister.min.css" rel="stylesheet" />






