
@{
    ViewBag.Title = "از نو سازی رمز حساب";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="GridBackground loginSection center">
    <content class="grid " dir="rtl">
        <div class="my-column my-clipped center mat loginSection ">
            <content>
                <img class="login" src="~/img/login/Svg/Group 102.svg" />
                <form method="post" action="/Account/PushForgotPassword">

                    @Html.AntiForgeryToken()

                    <input type="hidden" name="EndPhoneNumber" value="@ViewBag.endph" />
                    <input type="hidden" name="AuthenticationCode" value="@ViewBag.co" />

                    <label>رمز عبور جدید</label>
                    <div>
                        <input type="password" minlength="5" required name="Password" />
                    </div>

                    <label>تایید رمز عبور</label>
                    <div>
                        <input type="password" minlength="5" required name="ConfirmPassword" />
                        <br />
                        <span class="uk-text-danger">@ViewBag.Massage</span>
                    </div>

                    <div class="recap">
                        <div class="g-recaptcha " data-sitekey="6LeiCdkZAAAAAHgPzJSvSmJw6KOh6o0nGKnnhwpM"></div>
                        <small class="uk-text-danger">@ViewBag.MessageGoogle</small>
                    </div>


                    <div class="my-row center uk-padding">

                        <button class="uk-margin-small-left" type="submit" value="ارسال">ارسال</button>


                    </div>

                </form>
            </content>
        </div>

    </content>
</div>

