@model DataLayer.RegisterViewModel

@{
    ViewBag.Title = "ثبت نام | آروین تاو";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="GridBackground loginSection center">
    <content class="grid loginSection" dir="rtl">
        <article class="my-column my-clipped center mat loginSection ">
            <content>
                <img class="register" src="~/img/login/Svg/Group 97.svg" />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "uk-text-danger uk-text-small" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "uk-text-danger uk-text-small" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "uk-text-danger uk-text-small" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ConfirmPassWord, htmlAttributes: new { @class = "" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ConfirmPassWord, new { htmlAttributes = new { @class = "" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.ConfirmPassWord, "", new { @class = "uk-text-danger uk-text-small" })
                            </div>
                        </div>

                        <div class="form-group" dir="rtl">
                            <div class="col-md-10">
                                <div class="g-recaptcha" data-sitekey="6LeiCdkZAAAAAHgPzJSvSmJw6KOh6o0nGKnnhwpM"></div>
                                <small class="uk-text-danger">@ViewBag.Message</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" value="ثبت نام" class="btn btn-default uk-margin-bottom">ثبت نام</button>
                            </div>
                        </div>
                    </div>
                    <a href="/Account/ForgetPassword"><b class="uk-text-danger "><i class="fas fa-unlock-alt"></i> بازیابی رمز عبور</b></a>
                }
                <br />
            </content>
        </article>

    </content>
</div>




























