@model DataLayer.DomainEditViewModel
<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        ویرایش دامنه @Model.DomainService.Suffix
        <input id="ID" type="hidden" value="@Model.DomainService.ID" />
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div>
            <select id="MainCategorySelect">
                <option selected value="0">انتخاب دسته</option>
                @foreach (var item in Model.serviceCategories)
                {
                    <option value="@item.ID">@item.Title</option>
                }
            </select>
            <div id="ChildCategory">

            </div>
            <input type="hidden" id="Category" value="@Model.DomainService.ServiceCategory.ID" />
            <text class="text-success">دسته بندی : @Model.DomainService.ServiceCategory.Title</text>
        </div>
        <div class="form-row">
            <div class="form-group col-md-7">
                <label for="Title">عنوان</label>
                <input type="text" class="form-control form-control-sm" id="Suffix" placeholder="عنوان" value="@Model.DomainService.Suffix">
                <small class="text-muted">.ir,.com,.org,.net</small>
            </div>
            <div class="form-group col-md-5">
                <label for="IsActive">فعال باشد</label>
                @if (Model.DomainService.IsActive == true)
                {
                    <input type="checkbox" id="IsActive" checked />
                }
                else
                {
                    <input type="checkbox" id="IsActive" />
                }
            </div>
            <div class="form-group col-md-7">
                <label for="Price">قیمت</label>
                <input type="text" class="form-control form-control-sm PriceInput" id="Price" placeholder="قیمت" value="@Model.DomainService.Price">
            </div>
        </div>

    </div>
    <div class="space-half"></div>
    <div class="modal-footer justify-content-end">
        <img src="~/img/gif/load.gif" class="loding justify-content-center d-none" />
        <a id="EditDomain" class="btn btn-success btn-sm text-white"><i class="fas fa-plus-circle"></i>افزودن</a>
    </div>
</form>
<script src="~/Tools/Input_Formatting_Currency.js"></script>
<script>
    $("#MainCategorySelect").change(function () {
        if ($("#MainCategorySelect option:selected").val() == 0) { } else {
            $.get("/Admin/ServiceCategory/P_ChildCategoryInCreate?ParentID=" + $("#MainCategorySelect option:selected").val(), function (result) {
                $("#ChildCategory").html(result);
                $("#Category").val($("#MainCategorySelect option:selected").val());
            });
        }
    });

    $("#EditDomain").click(function () {
        if ($("#Category").val() == null || $("#Category").val() == "") {
            $("#EditDomain").removeClass("btn-success");
            $("#EditDomain").addClass("btn-danger");
            $("#EditDomain").html("دسته بندی را وارد کنید");
        } else {
            $("#EditDomain").addClass("btn-success");
            $("#EditDomain").removeClass("btn-danger");
            $("#EditDomain").html("<i class='fas fa-plus-circle'></i>افزودن");

            if ($("#Suffix").val() == null || $("#Suffix").val() == "" || $("#Price").val() == null || $("#Price").val() == "") {
                $("#EditDomain").removeClass("btn-success");
                $("#EditDomain").addClass("btn-danger");
                $("#EditDomain").html("تمامی موارد اجباری است");
            } else {
                $("#EditDomain").addClass("btn-success");
                $("#EditDomain").removeClass("btn-danger");
                $("#EditDomain").html("<i class='fas fa-plus-circle'></i>افزودن");
                $(".loding").removeClass("d-none");
                var Category = $("#Category").val();
                var ID = $("#ID").val();
                var Suffix = $("#Suffix").val();
                if ($("#IsActive").is(":checked")) {
                    var IsActive = "1";
                } else {
                    var IsActive = "0";
                }
                var IsActive = IsActive;
                var Price = $("#Price").val();
                alert(Category);
                $.post("/Admin/Domain/Edit?ID=" + ID + "&Category=" + Category + "&Suffix=" + Suffix + "&IsActive=" + IsActive + "&Price=" + Price, function (result) {
                    if (result == "true") {
                        window.location.reload();
                    }
                    else {
                        alert(result);
                    }
                });
            }
        }
    });

</script>

