@model IEnumerable<DataLayer.DomainService>
<div id="card-table" class="card-body flex-div">
    <div class="table-responsive flex">
        <table class="table fixed">
            <thead class="thead-light">
                <tr>
                    <th scope="col">پسوند</th>
                    <th scope="col">وضعیت</th>
                    <th scope="col">قیمت</th>
                    <th scope="col">عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Suffix
                        </td>
                        <td>
                            @if (item.IsActive == true)
                            {
                                <small class="text-info">فعال</small>
                            }
                            else
                            {
                                <small class="text-danger">غیر فعال</small>
                            }
                        </td>

                        <td>
                            @item.Price
                        </td>
                        <td>
                            <span data-placement="top" data-toggle="tooltip" title="" data-original-title="ویرایش">
                                <a onclick="EditList(@item.ID)" data-toggle="modal" data-target="#modalSave"><i class="btn fas fa-edit mr-2 text-primary"></i></a>
                            </span>

                            @if (item.IsActive == true)
                            {
                                <span data-placement="top" data-toggle="tooltip" title="" data-original-title="روشن">
                                    <a onclick="IsActive(@item.ID)"><i class="text-success fas fa-toggle-on"></i></a>
                                </span>
                            }
                            else
                            {
                                <span data-placement="top" data-toggle="tooltip" title="" data-original-title="خاموش">
                                    <a onclick="IsActive(@item.ID)"><i class="text-danger fas fa-toggle-off"></i></a>
                                </span>
                            }

                            <span data-placement="top" data-toggle="tooltip" title="" data-original-title="حذف">
                                <a onclick="DelFromList(@item.ID)" data-toggle="modal" data-target="#modalSave"><i class="btn fas fa-trash mr-2 text-danger"></i></a>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
