@model DataLayer.User
@{

    ViewBag.Title = "داشبورد";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}
<div class="row flex-div">
    <div class="col-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow text-center">
            <div id="card-table" class="card-body flex-div">
                <div class="table-responsive flex row">
                    <div class="col-12">
                        @if (string.IsNullOrEmpty(Model.Image))
                        {
                            <a href="/User/Dashboard/MyProfile"><img src="~/img/Admin/userPro.png" height="50" width="50" /></a>
                        }
                        else
                        {
                            <img src="~/Document/img/User/@Model.Image" height="50" width="50" />
                        }
                        @if (string.IsNullOrEmpty(Model.FullName))
                        {

                            <h3>@Model.PhoneNumber</h3>

                        }
                        else
                        {
                            <h3>@Model.FullName</h3>
                        }
                        @Html.ActionLink("ویرایش اطلاعات", "MyProfile", null, new { @class = "text-white btn btn-success btn-sm d-inline" })
                    </div>

                    <div class="card-body form-group">
                        <div class="text-center">
                            <div class="form-group  justify-content-center">
                                <label>نام تجاری:</label>
                                <span>
                                    @if (string.IsNullOrEmpty(Model.Brand))
                                    {
                                    @Html.ActionLink("وارد کنید", "MyProfile", null, new { @class = "text-success btn-sm d-inline" })
                                    }
                                    @Model.Brand
                                </span>
                            </div>
                            <div class="form-group justify-content-center">
                                <label>ایمیل:</label>
                                <span>
                                    @if (string.IsNullOrEmpty(Model.Email))
                                    {
                                        @Html.ActionLink("وارد کنید", "MyProfile", null, new { @class = "text-success btn-sm d-inline" })
                                    }
                                    @Model.Email
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


