@model DataLayer.InnerTicketViewModel
@{
    ViewBag.Title = "داخل تیکت";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">


            <div class="card-header bg-white">

                <div class="row ">
                    <div class="row col-12">
                        <label class="uk-text-bold pr-3">کد تیکت:</label>
                        <span>@Model.Ticket.ID</span>
                        <a onclick="TicketInfo(@Model.Ticket.ID)" data-toggle="modal" data-target="#modalSave"><i class="btn fas fa-info-circle mr-2 text-primary"></i></a>
                        <a href="/Admin/Ticket" class="btn btn-primary btn-sm text-white float-left uk-margin-auto-right uk-margin-auto-top uk-margin-auto-bottom">بازگشت</a>
                    </div>
                </div>

            </div>

            <div id="card-table" class="card-body flex-div">
                <div class="table-responsive flex">
                    <div class="table fixed">
                        @foreach (var item in Model.innerTickets)
                        {
                            <div class="col-10 col-sm-10 col-md-6 bg-light">
                                <p>
                                    @item.Text
                                </p>
                                <time>@item.dateTime.ToShamsi()</time>
                                <span>@item.User.FullName</span>
                                @if (item.File != null)
                                {
                                    <span data-placement="top" data-toggle="tooltip" title="" data-original-title="دارای فایل">
                                        <a href="~/Document/File/TicketFile/@item.File"><i class="fas fa-file-download mr-2"></i></a>
                                    </span>
                                }
                            </div>
                            @:&nbsp;
                        }
                    </div>
                </div>
            </div>

            <div class="card-footer bg-white ">
                <nav aria-label="Page navigation example">
                    <div class="row ">
                        <div class="row col-sm-12 col-12">
                            @if (Model.Ticket.Status == 1 || Model.Ticket.Status == 2)
                            {
                                <textarea id="MassageBox" class="form-control col-sm-10 col-12 " style="max-height:90px;min-height:90px;"></textarea>
                                <input type="file" id="MassageFile" class="float-left uk-margin-auto-right uk-margin-auto-top uk-margin-auto-bottom uk-margin-auto-right" /><i class="fas fa-paperclip fa-5x"></i>
                                <a id="BtnSendMassage" class="btn btn-info btn-sm text-white float-left uk-margin-auto-right uk-margin-auto-top uk-margin-auto-bottom mb-4 mt-3" onclick="SendMassage(@Model.Ticket.ID)"><i class="fas fa-reply"></i>پاسخ</a>
                                <a class="btn btn-success btn-sm text-white float-left mr-2 mb-4 uk-margin-auto-top uk-margin-auto-bottom mt-3" onclick="EndTicket(@Model.Ticket.ID)"><i class="fas fa-check"></i>تکمیل</a>

                            } else if (Model.Ticket.Status==3) {
                                <span class="text-success">تیکت تکمیل شده است</span>
                            }
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalSave" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <img src="~/img/gif/load.gif" class="loding justify-content-center" />
            @*JS Dynamic*@
        </div>
    </div>
</div>
<!-- Button trigger modal -->
@section Scripts{

    <script>

        $("#MassageFile").change(function () {
            if ($("#MassageFile").val() != null) {
                $("#MassageFile").html($("#Image").val());
                $("#MassageFile").addClass("border");
                $("MassageFile").addClass("border-success");
            }
        });

        function TicketInfo(ID) {
            $.get("/Admin/Ticket/P_Info?ID=" + ID, function (result) {
                $(".modal-dialog").removeClass("modal-xl");
                $(".modal-dialog").removeClass("modal-md");
                $(".modal-dialog").addClass("modal-lg");
                $(".modal-content").html(result);
            });
        }

        function SendMassage(ID) {
            if ($("#MassageBox").val() == null || $("#MassageBox").val() == "") {
                $("#BtnSendMassage").html("خالی میباشد")
                $("#BtnSendMassage").removeClass("btn-info");
                $("#BtnSendMassage").addClass("btn-danger");
            } else {
                $("#BtnSendMassage").html("خالی میباشد")
                $("#BtnSendMassage").addClass("btn-info");
                $("#BtnSendMassage").removeClass("btn-danger");
                var TicketID = ID;
                var Massage = $("#MassageBox").val();
                if ($("#MassageFile").val() == null || $("#MassageFile").val() == "") {
                    $.post("/Admin/Ticket/SendMassage?ID=" + TicketID + "&TextMassage=" + Massage + "&FileMassage=", function (result) {
                        if (result == "true") {
                            window.location.reload();
                        } else {
                            alert(result);
                        }
                    });
                } else {
                    var data = new FormData();
                    var files = $("#MassageFile").get(0).files;
                    if (files.length > 0) {
                        data.append("UploadFileMassage", files[0]);
                    }
                    $.ajax({
                        url: "/Admin/Upload/UploadFileMassage",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: data,
                        success: function (response) {
                            var File = response;
                            $.post("/Admin/Ticket/SendMassage?ID=" + TicketID + "&TextMassage=" + Massage + "&FileMassage=" + File, function (result) {
                                if (result == "true") {
                                    window.location.reload();
                                } else {
                                    alert(result);
                                }
                            });
                        }
                    });
                }

            }
        }

        function EndTicket(ID) {
            $.get("/Admin/Ticket/EndTicket?ID=" + ID, function () {
                window.location.href = "/Admin/Ticket";
            });
        }
    </script>

}