@model IEnumerable<DataLayer.Spider>
@{
    ViewBag.Title = "ByTage";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}





<link href="~/Content/Styles/blog.min.css" rel="stylesheet" />
<div class="center cover uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200">
    <img src="~/img/Home/gridbackground.png" />
    <div class="absolute center uk-width-5-6 uk-text-center uk-margin-auto uk-margin-large-top uk-margin-large-left">
        <img class="logoinCenter center uk-margin-large-left" src="~/img/blog/logoInblog.png" width="320" />
    </div>
</div>



<div>
    @foreach (var item in Model)
    {
        <content class="grid " dir="rtl">
            <article class="my-column mat my-clipped ">
                <content>
                    <div class="center">
                        <a href="/Post/@item.ID/@item.Title.Replace(" ","-")"><img src="~/Document/img/Spider/@item.Image" width="300" /></a>
                    </div>
                    <a class="title" href="/post"><h4>@item.Title</h4></a>
                    <hr class="uk-divider-icon" />
                    <div class="category my-row uk-margin-small-top">
                        <a href="/cat=1/@item.ID">@item.SpiderCategory.Title</a>
                        <span class="uk-margin-auto-top uk-margin-auto-right">@item.DateTime.ToShamsi()</span>
                    </div>
                </content>
            </article>
        </content>
    }
    <div class="center uk-margin-large-top">
        <div class="pagination">
            <a class="disabled"><span aria-hidden="true">«</span></a>

            @for (int i = 1; i <= (ViewBag.PageCount + 1); i++)
            {
                <a class="@(((int)ViewBag.PageId==i)?"active":"")" href="/tage=@i/@Model.FirstOrDefault().ID">@i</a>
            }


            <a><span aria-hidden="true">»</span></a>
        </div>
    </div>
</div>

