
@{
    ViewBag.Title = "بسته های نرم افزاری";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">
                <div class="row justify-content-end">
                    <div class="col-md-10 col-12">
                        <div class="card-form row">
                            <div class="form-input col-md-2">
                                <div class="form-inline">
                                    <div class="form-group mx-sm-1 mb-2">
                                        <input id="ResultSearch" class="form-control form-control-sm" type="text" placeholder="نام" value="@ViewBag.Result">
                                    </div>
                                </div>
                            </div>
                            <div class="form-toolbar col-6">
                                <button onclick="BtnSearch()" type="button" class="btn btn-primary btn-sm"><i class="fas fa-search"></i>جستجو</button>
                                <img src="~/img/gif/load.gif" class="loding justify-content-center d-none" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-6">
                        <a id="AddList" class="btn btn-success btn-sm text-white float-left" data-toggle="modal" data-target="#modalSave"><i class="fas fa-plus-circle"></i>افزودن</a>
                    </div>
                </div>
            </div>
            @Html.Action("P_List")
            <div class="card-footer bg-white">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">

                        @if (ViewBag.PageId == 1)
                        {
                            <li class="page-item d-none">
                                <a class="page-link" onclick="Page(@((int)ViewBag.PageId-1))">قبلی</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" onclick="Page(@((int)ViewBag.PageId-1))">قبلی</a>
                            </li>

                        }

                        <li class="page-item">
                            <select id="pageNumber" class="custom-select custom-select-sm">
                                @for (int i = 1; i <= (ViewBag.PageCount + 1); i++)
                                {
                                    <option class="page-item" value="@i" @(((int)ViewBag.pageId == i) ? "selected" : "" )>صفحه @i از @((int)ViewBag.PageCount + 1)</option>
                                }
                            </select>
                        </li>


                        @if ((int)ViewBag.PageId > (int)ViewBag.PageCount)
                        {
                            <li class="page-item d-none">
                                <a class="page-link" onclick="Page(@((int)ViewBag.PageId + 1))">بعدی</a>
                            </li>
                        }
                        else

                        {
                            <li class="page-item">
                                <a class="page-link" onclick="Page(@((int)ViewBag.PageId + 1))">بعدی</a>
                            </li>

                        }
                        <li>
                            <select id="InPageCount" class="custom-select custom-select-sm">
                                @if (ViewBag.InPageCount == 0)
                                {
                                    <option value="0" selected>18 در هر صفحه</option>
                                    <option value="20">20 در هر صفحه</option>
                                    <option value="30">30 در هر صفحه</option>
                                    <option value="40">40 در هر صفحه</option>

                                }

                                @if (ViewBag.InPageCount == 20)
                                {
                                    <option value="0">18 در هر صفحه</option>
                                    <option value="20" selected>20 در هر صفحه</option>
                                    <option value="30">30 در هر صفحه</option>
                                    <option value="40">40 در هر صفحه</option>

                                }
                                else if (ViewBag.InPageCount == 30)
                                {
                                    <option value="0">18 در هر صفحه</option>
                                    <option value="20">20 در هر صفحه</option>
                                    <option value="30" selected>30 در هر صفحه</option>
                                    <option value="40">40 در هر صفحه</option>

                                }
                                else if (ViewBag.InPageCount == 40)
                                {
                                    <option value="0">18 در هر صفحه</option>
                                    <option value="20">20 در هر صفحه</option>
                                    <option value="30">30 در هر صفحه</option>
                                    <option value="40" selected>40 در هر صفحه</option>
                                }


                            </select>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalSave" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <img src="~/img/gif/load.gif" class="loding justify-content-center" />
            @*JS Dynamic*@
        </div>
    </div>
</div>
<!-- Button trigger modal -->


@section Scripts{

    <script>

        $("#AddList").click(function () {
            $(".modal-content").html("<img src='/img/gif/load.gif' class='loding justify-content-center' />");
            $.get("/Admin/Package/P_Create", function (result) {
                $(".modal-content").html(null);
                $(".modal-dialog").removeClass("modal-lg");
                $(".modal-dialog").removeClass("modal-md");
                $(".modal-dialog").addClass("modal-xl");
                $(".modal-content").html(result);
            });
        });

        function BtnSearch() {
            var Result = $("#ResultSearch").val();
            var PageId = $("#pageNumber option:selected").val();
            var InPageCount = $("#InPageCount option:selected").val();
            $(".loding").removeClass("d-none");
            $.get("/Admin/Package/P_List?PageId=" + PageId + "&Result=" + Result + "&InPageCount=" + InPageCount, function (result) {
                window.location.href = "/Admin/Package?PageId=" + PageId + "&Result=" + Result + "&InPageCount=" + InPageCount;
            });
        }

        $("#pageNumber").change(function () {
            var Result = $("#ResultSearch").val();
            var PageId = $("#pageNumber option:selected").val();
            var InPageCount = $("#InPageCount option:selected").val();
            $.get("/Admin/Package/P_List?PageId=" + PageId + "&Result=" + Result + "&InPageCount=" + InPageCount, function (result) {
                window.location.href = "/Admin/Package?PageId=" + PageId + "&Result=" + Result + "&InPageCount=" + InPageCount;
            });
        });


        $("#InPageCount").change(function () {
            var Result = $("#ResultSearch").val();
            var PageId = $("#pageNumber option:selected").val();
            var InPageCount = $("#InPageCount option:selected").val();
            $.get("/Admin/Package/P_List?PageId=" + PageId + "&Result=" + Result + "&InPageCount=" + InPageCount, function (result) {
                window.location.href = "/Admin/Package?PageId=" + PageId + "&Result=" + Result + "&InPageCount=" + InPageCount;
            });
        });
    </script>

}



