<!DOCTYPE html>

<html>
<head>
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.Keywords">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title | آروین تاو</title>
    <!--UIkit-->
    <link href="~/Content/UIkit/styles/uikit.min.css" rel="stylesheet" />
    <!--sass file-->
    <link href="~/Content/Styles/Home.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/Controls.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/LoginRegister.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/SoftwarePackages.min.css" rel="stylesheet" />
    <!--fonts-->
    <link rel="stylesheet" href="~/fonts/fontawesome/css/all.css">
    <link rel="stylesheet" href="~/fonts/fontawesome/css/fontawesome.css">


    <!--Owl Carousel CSS-->
    @*<link href="~/Content/Styles/OwlCarousel/owl.carousel.min.css" rel="stylesheet" />
        <link href="~/Content/Styles/OwlCarousel/owl.theme.default.min.css" rel="stylesheet" />*@


    <!--Admin page styles-->
    @*<link href="~/Areas/Admin/style.css" rel="stylesheet" />
        <link href="~/Areas/Admin/style-rtl.css" rel="stylesheet" />*@

    <script src="~/Scripts/UIkit/uikit-icons.min.js"></script>
</head>
<body>
    <!--header region-->
    <header id="LayoutHeader" class="my-row">
        <div class="loginDesktop my-row" dir="rtl">
            @*<form class="search">
                    <div class="my-row margin-auto-top margin-auto-bottom margin-auto-left margin-auto-right">
                        <input type="search" placeholder="جستجو...">
                        <i class="fas fa-search margin-auto-bottom margin-auto-top uk-margin-small-left"></i>
                    </div>
                </form>*@

            <form class="search">
                <div class="inputContainer">
                    <input class="Field" type="search" placeholder="جستجو..." />
                    <a><i class="fa fa-search icon"></i></a>
                </div>
            </form>


            @*Partial View*@

            @if (User.Identity.IsAuthenticated)
            {
                <button class="uk-text-bold my-column" onclick="window.location.href='/User/Dashboard'">
                    <div class="my-row margin-auto-top margin-auto-bottom margin-auto-left margin-auto-right">
                        <i class="fas fa-user-circle margin-auto-bottom margin-auto-top uk-margin-small-left"></i>
                        <span class="margin-auto-bottom margin-auto-top ">@Html.Action("P_UserBox", "Home")</span>
                    </div>
                </button>
                if (User.IsInRole("Admin") || User.IsInRole("PartAdmin") || User.IsInRole("Marketer") || User.IsInRole("Content"))
                {
                    <div class="loginMobile my-row" dir="rtl">
                        <button class="uk-text-bold my-column" onclick="window.location.href='/Admin/Dashboard'">
                            <div class="my-row margin-auto-top margin-auto-bottom margin-auto-left margin-auto-right overflow-visible">
                                <i class="fas fa-user-shield margin-auto-bottom margin-auto-top uk-margin-small-left"></i>
                                <span class="margin-auto-bottom margin-auto-top ">پنل مدیریت</span>
                            </div>
                        </button>
                    </div>
                }
            }
            else
            {
                <button class="uk-text-bold my-column" onclick="window.location.href='/Account/Login'">
                    <div class="my-row margin-auto-top margin-auto-bottom margin-auto-left margin-auto-right overflow-visible">
                        <i class="fas fa-user-circle margin-auto-bottom margin-auto-top uk-margin-small-left"></i>
                        <span class="margin-auto-bottom margin-auto-top ">ورود به پورتال</span>
                    </div>
                </button>
            }
            <img class=" uk-margin-medium-left" src="~/img/Admin/logo/ArvinTavLogo.svg" />
        </div>

        @Html.Action("P_MainCategory", "Home")

        @* header for mobile version*@


        <a class="hamburger-button uk-margin-auto" href="#menu" uk-toggle="target: #menu"> <i class="fas fa-bars"></i></a>
        <div id="menu" uk-offcanvas="overlay: true; flip: true" dir="rtl">
            <div class="uk-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="loginMobile my-row" dir="rtl">
                        <img class="LogoPicMobile" src="~/img/Admin/logo/ArvinTavLogo.svg" />
                        <button class="uk-text-bold my-column" onclick="window.location.href='/account/login'">
                            <div class="my-row margin-auto-top margin-auto-bottom margin-auto-left margin-auto-right">
                                <i class="fas fa-user-circle margin-auto-bottom margin-auto-top uk-margin-small-left"></i>
                                <span class="margin-auto-bottom margin-auto-top">@Html.Action("P_UserBox", "Home")</span>
                            </div>
                        </button>
                    </div>
                    if (User.IsInRole("Admin") || User.IsInRole("PartAdmin") || User.IsInRole("Marketer") || User.IsInRole("Content"))
                    {
                        <div class="loginMobile my-row" dir="rtl">
                            <button class="uk-text-bold my-column" onclick="window.location.href='/Admin/Dashboard'">
                                <div class="my-row margin-auto-top margin-auto-bottom margin-auto-left margin-auto-right">
                                    <i class="fas fa-user-circle margin-auto-bottom margin-auto-top uk-margin-small-left"></i>
                                    <span class="margin-auto-bottom margin-auto-top ">پنل مدیریت</span>
                                </div>
                            </button>
                        </div>
                    }
                }
                else
                {
                    <div class="loginMobile my-row" dir="rtl">
                        <img class="LogoPicMobile" src="~/img/Admin/logo/ArvinTavLogo.svg" />
                        <button class="uk-text-bold my-column" onclick="window.location.href='/account/login'">
                            <div class="my-row margin-auto-top margin-auto-bottom margin-auto-left margin-auto-right">
                                <i class="fas fa-user-circle margin-auto-bottom margin-auto-top uk-margin-small-left"></i>
                                <span class="margin-auto-bottom margin-auto-top ">ورود به پورتال</span>
                            </div>
                        </button>
                    </div>
                }
                @Html.Action("P_MainCategoryMobile", "Home")
                <form class="search center ">
                    <div class="inputContainer">
                        <input class="Field" type="search" placeholder="جستجو..." />
                        <a><i class="fa fa-search icon"></i></a>
                    </div>
                </form>

            </div>
        </div>

        <!--end mobile version-->

    </header>

    <!--end region-->

    @RenderBody()

    <!--footer region-->
    <footer class="my-column uk-margin-large-top uk-padding">

        <div class="footerContent my-row uk-padding" dir="rtl">
            <content class="LogoFooter my-column">
                <img class="center" src="~/img/Admin/logo/ArvinTavLogo.svg" />
                <label class="center">ایده پرداز آروین تاو</label>
                <label class="center" dir="ltr">&copy; 2020 arvintav</label>
            </content>
            <content class="SupportFooter my-column uk-padding ">
                <h6>پشتیبانی</h6>
                <a>پشتیبانی فنی</a>
                <a>پشتیبانی فروش</a>
            </content>
            <content class="SupportFooter my-column uk-padding  ">
                <h6>پشتیبانی</h6>
                <a>پشتیبانی فنی</a>
                <a>پشتیبانی فروش</a>
            </content>
            <content class="SupportFooter my-column uk-padding  ">
                <h6>پشتیبانی</h6>
                <a>پشتیبانی فنی</a>
                <a>پشتیبانی فروش</a>
            </content>

        </div>
        <hr />
        <div class="my-row footerEnd " dir="rtl">
            <div class="Address my-column uk-margin-right uk-padding-small" dir="rtl">
                <div class="my-row">
                    <img src="~/img/Home/svg/Location.svg" />
                   @* <span uk-icon="icon:phone-landscape;ratio:1" style="color:red!important"></span>*@
                    <label>
                        چایکنار-بعد از پل منصور به سمت آبرسان-ساختمان عمارت صبا-طبقه همکف غربی
                    </label>
                </div>

                <div class="my-row ">
                    <img src="~/img/Home/svg/Phone.svg" />
                    <label dir="ltr">
                        041 - 33371059 - 33373556
                    </label>
                </div>
                <div class="my-row ">
                    <img src="~/img/Home/svg/CellPhone.svg" />
                    <label dir="ltr">
                        0914 501 6607
                    </label>
                </div>
                <div class="my-row ">
                    <img src="~/img/Home/svg/Mail.svg" />
                    <label dir="ltr">
                        info@arvintavco.com
                    </label>
                </div>
            </div>

            <div class="footerContact my-column my-clipped uk-margin-auto-right uk-margin-auto-top uk-margin-auto-bottom uk-margin-xlarge-left" dir="rtl">
                <div class="contactIcons my-row uk-margin-auto-right uk-margin-large-left ">
                    <a class="contactIcon" href="#"><i class="fab fa-instagram fa-2x uk-padding-small"></i></a>
                    <a class="contactIcon" href="#"><i class="fas fa-phone fa-2x uk-padding-small"></i></a>
                    <a class="contactIcon" href="#"><i class="fab fab fa-whatsapp fa-2x uk-padding-small"></i></a>
                    <a class="contactIcon" href="#"><i class="fab fa-linkedin fa-2x uk-padding-small"></i></a>

                </div>
            </div>
        </div>

    </footer>
    <!-- end region -->

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/UIScripts/Global.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?hl=fa"></script>
    @RenderSection("Scripts", false)

    <!--scroll-->
    <script>

        let last_known_scroll_position = 0;

        window.addEventListener('scroll', function () {
            last_known_scroll_position = window.scrollY;

            if (last_known_scroll_position > 0) {
                document.getElementById('LayoutHeader').classList.add('layout-header-scrolled')
            }
            else {
                document.getElementById('LayoutHeader').classList.remove('layout-header-scrolled')
            }

        });

    </script>

    <script type="text/javascript">
        var _smartsupp = _smartsupp || {};
        _smartsupp.key = 'c7607366b0cb38ae98589e50eec801bed2bf7608';
        window.smartsupp || (function (d) {
            var s, c, o = smartsupp = function () { o._.push(arguments) }; o._ = [];
            s = d.getElementsByTagName('script')[0]; c = d.createElement('script');
            c.type = 'text/javascript'; c.charset = 'utf-8'; c.async = true;
            c.src = 'https://www.smartsuppchat.com/loader.js?'; s.parentNode.insertBefore(c, s);
        })(document);
    </script>

    <script src="~/Scripts/UIkit/uikit.min.js"></script>

</body>
</html>