<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="favicon.png">
    <!-- plugins css -->
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css" />
    <link href="~/Content/UIkit/styles/uikit.min.css" rel="stylesheet" />
    <!--tagsinput-->
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap-tagsinput.css">
    <!-- font-icon-->
    <link rel="stylesheet" href="~/fonts/fontawesome/css/all.css">
    <link rel="stylesheet" href="~/fonts/fontawesome/css/fontawesome.css">
    <!-- custom css-->
    <link href="~/Areas/Admin/style.css" rel="stylesheet">
    <link href="~/Areas/Admin/style-rtl.css" rel="stylesheet">
    @*Sass*@
    <link href="~/Content/Styles/Admin.min.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper flex-div">
        <div class="layout flex-div">
            <!-- Side Nav START -->
            <div class="side-nav">
                <div class="side-nav-inner">
                    <div class="side-nav-logo ">
                        <a href="#" class="uk-margin-auto row center">
                            <img class="logo logo-darkt center" src="~/img/ArvinTavLogo.svg" />
                        </a>
                    </div>
                    <ul class="side-nav-menu scrollable">
                        <li class="nav-item active">
                            <a href="/Admin/Dashboard">
                                <span class="icon-holder">
                                    <i class="fas fa-home"></i>
                                </span>
                                <span class="title">داشبورد</span>
                            </a>
                        </li>


                        <li class="nav-item active">
                            <a href="/Admin/ServiceCategory">
                                <span class="icon-holder">
                                    <i class="fas fa-layer-group"></i>
                                </span>
                                <span class="title">دسته بندی خدمات</span>
                            </a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="fas fa-server"></i>
                                </span>
                                <span class="title">هاستینگ</span>
                                <span class="arrow">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/admin/Hosting">لیست</a>
                                </li>
                                <li>
                                    <a href="/admin/Hosting/Create">افزودن</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="fas fa-globe-americas"></i>
                                </span>
                                <span class="title">دامنه</span>
                                <span class="arrow">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/admin/Domain">لیست</a>
                                </li>
                                <li>
                                    <a href="/admin/Domain/Create">افزودن</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="fas fa-box"></i>
                                </span>
                                <span class="title">پکیج</span>
                                <span class="arrow">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/admin/Package">لیست</a>
                                </li>
                                <li>
                                    <a href="/admin/Package/Create">افزودن</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="fas fa-shopping-cart"></i>
                                </span>
                                <span class="title">سفارشات</span>
                                <span class="arrow">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/admin/Order">همه</a>
                                </li>
                                <li>
                                    <a href="/admin/Order/Unpaid">پرداخت نشده</a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item active">
                            <a href="/Admin/Dashboard">
                                <span class="icon-holder">
                                    <i class="fas fa-headset"></i>
                                </span>
                                <span class="title">مرکز پاسخگویی</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Side Nav END -->
            <!-- Page Container START -->
            <div class="page-container flex-div">
                <!-- Header START -->
                <div class="header navbar">
                    <div class="header-container">
                        <ul class="nav-right float-right mr-3">
                            <li>
                                <a class="side-nav-toggle" href="javascript:void(0);">
                                    <i class="fas fa-align-right"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-left float-left">
                            <li class="user-profile dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <div class="user-info">
                                        <span class="name pr-1">@*@user.UserFullName*@</span>
                                        <img @*src="~/Document/User/@user.UserImage"*@ height="50" width="50" />
                                        <i class="fas fa-chevron-down font-size-10"></i>
                                    </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-cog pr-1"></i>
                                            <span>تنظیمات</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-user pr-1"></i>
                                            <span>پروفایل</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-envelope pr-1"></i>
                                            <span>پیام</span>
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-power-off pr-1"></i>
                                            <span>خروج</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="notifications dropdown">
                                <span class="counter">@ViewBag.NotSeenProposalCount</span>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-bell"></i>
                                </a>
                                <ul class="dropdown-menu ">
                                    <li class="notice-header">
                                        <i class="fas fa-bell pr-1"></i>
                                        <span>پیشنهادات</span>
                                    </li>
                                    <li>
                                        <ul class="list-info overflow-y-auto relative scrollable">
                                            @*@foreach (var item in ViewBag.NotSeenProposal)
                                                {
                                                    <li>
                                                        <a href="#">
                                                            @if (item.User.UserImage == null)
                                                            {

                                                                <img class="thumb-img" src="~/img/admin/user/user.jpg" alt="">
                                                            }
                                                            else
                                                            {
                                                                <img class="thumb-img" src="~/Document/User/@item.User.UserImage" alt="">
                                                            }
                                                            <div class="info">
                                                                <span class="title">
                                                                    <span class="font-size-14 text-semibold">@item.Text</span>
                                                                </span>

                                                            </div>
                                                        </a>
                                                    </li>
                                                }*@
                                        </ul>
                                    </li>
                                    <li class="notice-footer">
                                        <span>
                                            <a href="/admin/proposal" class="text-gray">مشاهده همه پیشنهادات<i class="ei-right-chevron pl-1 font-size-10"></i></a>
                                        </span>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="sub-header">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb rounded-0 m-0 bg-white">
                            <li class="breadcrumb-item p-0"><a href="/admin/Home">داشبورد</a></li>
                            <li class="breadcrumb-item p-0 active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
                <!-- Header END -->
                <!-- Content Wrapper START -->
                <div class="main-content flex">
                    <div class="container-fluid flex-div">
                        @RenderBody()
                    </div>
                </div>
                <!-- Content Wrapper END -->
                <!-- Footer START -->
                <footer class="content-footer bg-white">
                    <div class="footer border-0">
                        <div class="copyright">
                            <span><b class="text-dark">آروین تاو</b> 2020</span>
                        </div>
                    </div>
                </footer>
                <!-- Footer END -->
            </div>
            <!-- Page Container END -->
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/docs.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/script.js"></script>
    <script src="Content/bootstrap/js/bootstrap-tagsinput.js"></script>
    <script src="~/Scripts/UIkit/uikit.min.js"></script>
    <script src="~/Scripts/UIkit/uikit-icons.min.js"></script>
</body>
</html>
