@model IEnumerable<DataLayer.User>
<div id="card-table" class="card-body flex-div">
    <div class="table-responsive flex">
        <table class="table fixed">
            <thead class="thead-light">
                <tr>
                    <th scope="col">نام</th>
                    <th scope="col">شماره تلفن</th>
                    <th scope="col">نام تجاری</th>
                    <th scope="col">نقش</th>
                    <th scope="col">تاریخ ثبت نام</th>
                    <th scope="col">تاریخ آخرین ورود</th>
                    <th scope="col">عملیات</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td>یافت نشد</td>
                    </tr>
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FullName</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Brand</td>
                        <td class="text-info">@item.UserRole.Title</td>
                        <td>@item.SignUpTime.ToShamsi()</td>
                        <td>@item.FinalLoginTime.ToShamsi()</td>
                        <td>
                            <span data-placement="top" data-toggle="tooltip" title="" data-original-title="ویرایش">
                                <a onclick="EditList(@item.UserID)" data-toggle="modal" data-target="#modalSave"><i class="fas fa-edit text-primary"></i></a>
                            </span>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>




