@model DataLayer.Project
<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        ویرایش پروژه @Model.Title
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-7">
                <input type="text" class="form-control form-control-sm" id="Title" placeholder="عنوان" value="@Model.Title">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-7">
                <div class="custom-file">
                    <input type="file" class="custom-file-input form-control form-control-sm" id="Image" accept="image/jpg,image/png">
                    <label class="custom-file-label" for="Image" data-browse="انتخاب">@Model.Image</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-7">
                <input type="text" class="form-control form-control-sm" id="Link" placeholder="لینک" value="@Model.Link">
            </div>
        </div>
    </div>
    <div class="space-half"></div>
    <div class="modal-footer justify-content-end">
        <a onclick="BtnEditProject(@Model.ID)" class="btn btn-success btn-sm text-white"><i class="fas fa-edit"></i>ویرایش</a>
    </div>
</form>

<script>
    function BtnEditProject(ID) {
        if ($("#Title").val() == null || $("#Title").val() == "" || $("#Link").val() == null || $("#Link").val() == "") {
            $("#BtnProjectCreate").html("تمامی موارد اجباری میباشد");
            $("#BtnProjectCreate").addClass('btn-danger');
            $("#BtnProjectCreate").removeClass('btn-success');
        } else {
            $("#BtnProjectCreate").html("<i class='fas fa-plus-circle'></i>افزودن");
            $("#BtnProjectCreate").removeClass('btn-danger');
            $("#BtnProjectCreate").addClass('btn-success');

            if ($("#Image").val() == null || $("#Image").val() == "") {

                var Title = $("#Title").val();
                var Link = $("#Link").val();

                $.post("/Admin/Project/Edit?ID=" + ID + "&Title=" + Title + "&Image=" + "&Link=" + Link, function (result) {
                    if (result == "true") {
                        window.location.reload();
                    } else {
                        alert(result);
                    }

                });

            } else {
                var data = new FormData();
                var files = $("#Image").get(0).files;
                if (files.length > 0) {
                    data.append("UploadProjectImageFile", files[0]);
                }

                $.ajax({
                    url: "/Admin/Upload/UploadProjectImage",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {

                        var Title = $("#Title").val();
                        var Image = response;
                        var Link = $("#Link").val();

                        $.post("/Admin/Project/Edit?ID=" + ID + "&Title=" + Title + "&Image=" + Image + "&Link=" + Link, function (result) {
                            if (result == "true") {
                                window.location.reload();
                            } else {
                                alert(result);
                            }

                        });

                    }
                });
            }
        }
    }
</script>

